html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
}

.cards {
  display: flex;
  width: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 650px;

}

.cards div {
  flex: 1 0 21%;
  margin: 1px;
}

.card {
  border: 1px black solid;
  text-align: center;
}

.card img {
  height: 150px;
  width: auto;
}

.points {
  padding-left: 50px;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.header {
  text-align: center;
}

#gitHubIcon img {
  width: 40px;
  height: auto;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

a {
  text-decoration: none;
}
